@media only screen and (max-device-width: 900px) {
  /* .menu { width:100%; } */
}

* {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #FCFCFC;
}

a { color: #0DA0EE; }

h1 { 
  color: #555555;
  text-shadow: 1px 1px 1px #FCFCFC;
}

section {
  color: #555555;
  text-shadow: 1px 1px 1px #FCFCFC;
}

#description {
  font-size: 22px;
}

li { color: #555555 }

.blue-font { color: #0DA0EE; }

#coming-soon { 
  color: linear-gradient(315deg, #000000 0%, #414141 74%);
  font-size: 15px;
  opacity: 0.5;
}

div { margin-top: 25px; }

.container img {
  padding: 20px;
  max-width: 150px;
  max-height: 150px;
}

#website-content {
  background-color: #f9f6f6;
  width: 100%;
  height: 310px;
  margin-left: auto;
  margin-right: auto;
}

p {
  border: 1px solid #555555;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* linkedin */
#circle1 { 
  position: relative;
  top: 50px;
  left: 50px;
}

#circle1:hover { background-color: #0DA0EE; }

/* github */
#circle2 {
  position: relative;
  top: -11px;
  left: -60px;
}

#circle2:hover { background-color: #0DA0EE; }

/* medium */
#circle3 {
  position: relative;
  top: 12px;
  left: -60px;
}

#circle3:hover { background-color: #0DA0EE; }

/* behance */
#circle4 { 
  position: relative;
  top: -50px;
  left: 50px;
}

#circle4:hover { background-color: #0DA0EE; }

#linkedin-page {
  content: url('/icon/linkedin.svg'); 
  position: relative;
  top: 15px;
}

#github-page {
  content: url('/icon/github2.svg');
  width: 40px;
  position: relative;
  top: 10px;
}

#medium-page {
  content: url('/icon/medium2.svg'); 
  position: relative;
  width: 40px;
  top: 10px;
}

#behance-page {
  content: url('/icon/behance.svg'); 
  position: relative;
  top: 15px;
}

.copyright {
  /* position: relative; */
  line-height: 50px;
  color: #555555; 
}

.copyright:hover {
  font-weight: bold;
}

#email:hover { font-weight: bold; }