:root {
  --primary: #0DA0EE;
  --secondary: #fafafa;
  --tertiary: #212121;
  --quaternary: #555555;
  --container: #f9f6f6;
  --logos: #0da0ee99;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  text-align: center;
  background-color: var(--tertiary);
  display: flex;
  flex-direction: column;
}

a, .copyright{ color: var(--primary); }

h1, section { color: var(--secondary); }

#description { font-size: 22px; }

div { margin-top: 25px; }

#coming-soon { 
  color: rgb(189, 189, 189);
  font-size: 15px;
  opacity: 0.5;
}

#coming-soon::after {
  content: '';
  width: 140px;
  height: 4px;
  background-color: currentColor;
  display: block;
  margin: 30px auto;
}

.website-content {
  width: 300px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 33px;
  background-color: var(--container);
  box-shadow: inset 20px 20px 60px #d4d1d1, 
              inset -20px -20px 60px #ffffff;
}

p {
  border: 1px solid var(--quaternary);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* linkedin */
#circle1 { 
  position: relative;
  top: 50px;
  left: 50px;
}

/* github */
#circle2 {
  position: relative;
  top: -11px;
  left: -60px;
}

/* medium */
#circle3 {
  position: relative;
  top: 12px;
  left: -60px;
}

/* behance */
#circle4 { 
  position: relative;
  top: -50px;
  left: 50px;
}

#circle1:hover, #circle2:hover, 
#circle3:hover, #circle4:hover { 
  background-color: var(--logos); 
  transition: .7s ease;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .5), 
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

#linkedin-page {
  content: url('/icon/linkedin.svg'); 
  position: relative;
  top: 15px;
}

#github-page {
  content: url('/icon/github2.svg');
  width: 40px;
  position: relative;
  top: 10px;
}

#medium-page {
  content: url('/icon/medium2.svg'); 
  position: relative;
  width: 40px;
  top: 10px;
}

#behance-page {
  content: url('/icon/behance.svg'); 
  position: relative;
  top: 15px;
}

#avatar {
  padding: 15px;
  max-width: 150px;
  max-height: 150px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

/* MODAL */
#modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, .8);
  display: none;
}

#modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal img {
  max-width: 50%;
  max-height: 50%;
  padding: 4px;
  background-color: var(--tertiary);
  border: 1px solid var(--secondary);
}

/* FOOTER */
.footer__content{ flex: 1 0 auto; }

.footer__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 1em;
  background-color: #232323;
  color: var(--secondary);
  border-top: 0.5px solid var(--quaternary);
}

.footer__center:hover, 
#email:hover { 
  font-weight: bold; 
} 

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .footer__center {
    margin: auto 0;
  }
}