/* Fonts */
@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

/* CSS Variables */
:root {
  --black: #000000;
  --silver: #373737;
  --lightSilver: #484848;
  --white: #ffffff;
  --green: #08F209;
}

:root {
    --white-color: #fff;
    --black-color: #000;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  html {
    overflow-x: hidden;
  }

  ul,
  ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  
  body {
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 16px;
    line-height: 24px;
    /* height: 100vh; */
  }

  .etiquette {
    background-color: var(--green);
    pointer-events: auto;
    z-index: 999;
    color: var(--white);
    padding: 1em .7em;
    display: flex;
    position: fixed;
    inset: 0% auto auto 0%;
    text-decoration: none;
  }
  
  .etiquette-text {
    text-transform: uppercase;
    margin-top: 1em;
    display: inline-block;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 14px;
    margin-left: 0.2em;
    font-family: 'NeueMontreal';
    font-weight: normal;
    color: var(--black)
  }

  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }
  
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  
  .image-8,
  .nav-mobile,
  .nav-mobile.element {
    display: none;
  }
  
  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    border: 0;
  }
  
  .image-8 {
    display: block;
    margin: 0 auto;
  }
  
  .plus-wrapper {
    justify-content: center;
    align-items: center;
    width: 1em;
    margin-left: .5em;
    display: flex;
    transform: translate(0, -.1em);
  }
  
  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }
  
  .plus-wrapper.arrow {
    margin-left: 0;
    margin-right: .5em;
    display: inline-block;
  }
  
  .arrow-nav {
    object-fit: contain;
    width: 100%;
  }
  
  .plus-wrapper {
    justify-content: center;
    align-items: center;
    width: 1em;
    margin-left: 1.2em;
    display: flex;
    transform: translate(0, -.1em);
  }
  
  
  a {
    transition: all 0.5s;
    text-decoration: none;
  }
  h1 {
    font-size: 100px;
    line-height: 120px;
    font-family: 'NeueMontreal';
    font-weight: 300;
  }
  h2 {
    font-size: 16px;
    line-height: 30px;
    font-family: 'NeueMontreal';
    font-weight: 400;
    text-transform: capitalize;
  }
  span {
    font-family: 'NeueMontreal';
    font-weight: 400;
  }
  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(50%);
  }
  .video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    background-color: var(--black);
  }
  
  .anime-list {
    margin: 60px 0px 0px;
    padding: 0px 30px;
  }
  .anime-list .title {
    text-transform: uppercase;
    margin: 0px auto 60px;
    width: fit-content;
    max-width: 1170px;
    text-align: center;
  }
  .anime-list ul li {
    cursor: pointer;
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 26px 0px;
    margin: 0px -12px;
    opacity: 0.4;
  }
  .anime-list ul li::before,
  .anime-list ul li::after {
    content: "";
    transition: all 1s;
    -webkit-transition: all 1s;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
  }
  .anime-list ul li::after {
    opacity: 1;
    width: 0%;
  }
  .anime-list ul li:hover {
    opacity: 1;
  }
  .anime-list ul li:hover::after {
    width: 100%;
  }
  .anime-list ul li > div:not(.hover-img) {
    padding: 0px 12px;
  }
  .anime-list .index {
    width: calc(100% / 12);
  }
  .anime-list .release-year {
    width: calc((100% / 12) * 2);
  }
  .anime-list .anime-name {
    width: calc((100% / 12) * 4);
  }
  .anime-list .genere {
    width: calc((100% / 12) * 4);
  }
  .anime-list .redirect-link {
    width: calc((100% / 12) * 1);
  }
  .anime-list .redirect-link a {
    width: 30px;
    height: 30px;
    margin: 0px auto;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    border-radius: 50%;
    background: var(--white-color);
  }
  .anime-list .redirect-link svg {
    color: var(--black-color);
  }
  .anime-list .hover-img {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0%;
    width: 34vw;
    height: 34vw;
  }
  .anime-list .hover-img img {
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  .anime-list li:hover .hover-img img {
    opacity: 1;
  }
  
  .ball {
    width: 32px;
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    backdrop-filter: invert(1) grayscale(1);
    -webkit-backdrop-filter: invert(1) grayscale(1);
    z-index: 99999;
  }
  
  @media (min-width: 1200px) and (max-width: 1499px) {
    h1 {
      font-size: 90px;
      line-height: 110px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    h1 {
      font-size: 70px;
      line-height: 90px;
    }
    .anime-list .hover-img {
      width: 38vw;
      height: 38vw;
    }
    .anime-list .hover-img img {
      border-radius: 12px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    h1 {
      font-size: 60px;
      line-height: 80px;
    }
    h2 {
      font-size: 18px;
      line-height: 26px;
    }
    body {
      font-size: 14px;
      line-height: 22px;
    }
    .anime-list .title {
      margin: 0px auto 40px;
    }
    .anime-list .hover-img {
      width: 38vw;
      height: 38vw;
    }
    .anime-list .hover-img img {
      border-radius: 12px;
    }
  }
  
  @media (max-width: 767px) {
    h1 {
      font-size: 50px;
      line-height: 70px;
    }
    h2 {
      font-size: 18px;
      line-height: 26px;
    }
    body {
      font-size: 14px;
      line-height: 22px;
    }
    .anime-list {
      padding: 0 16px 40px 16px;
      margin-bottom: 200px;

    }
    .anime-list .title {
      margin: 0px auto 40px;
    }
    .anime-list ul li > div:not(.hover-img) {
      padding: 0px 8px;
    }
    .anime-list .index,
    .anime-list .genere {
      display: none;
    }
    .anime-list .anime-name {
      width: calc((100% / 12) * 8);
    }
    .anime-list .redirect-link {
      width: calc((100% / 12) * 2);
    }
    .anime-list .hover-img {
      width: 40vw;
      height: 40vw;
    }
    .anime-list .hover-img img {
      border-radius: 8px;
    }
  }
  

  @media (max-width: 550px) {
    .ball {
      display: none;
    }
    .etiquette.mobile {
        grid-row-gap: .4em;
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        height: auto;
        inset: auto 0% 0%;
        padding: 0 8px 16px 8px;
    }
  
    .en {
        font-size: 12px;
        color: var(--black);
    }
  
    .image-2.hide-mobile {
        display: none;
    }
  
    .etiquette {
        display: none;
    }
  
    .nav-mobile {
        z-index: 998;
        display: flex;
    }
  
    .div-block-21 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 16px;
    }
  
    .text-nav {
        font-size: 16px;
        color: var(--black);
    }
  
    .image-8 {
        width: 100%;
        display: block;
    }
  
    .nav-fixed {
        display: none;
    }
  
    .nav-link {
      padding: 12px 16px;
      margin: 0 -0.2em 0 -0.2em;
      display: flex;
  }
  .text-nav { 
    font-size: 13px; 
  }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  