/* --------- Variables ---------- */
$black: #010101;
$silver: #B2B2B2;
$white: #FFFFFF;
$wolf: #D9D4D1;
$cinnabar: #E83C38;
$purple: #9738F0;
$mint: #36F097;
$half-white: #ffffff80;

/* --------- Fonts ---------- */
@font-face {
	font-family: "Gotham Book";
	src: url("/fonts/GothamHTF-Book.otf") format("truetype");
}

@font-face {
	font-family: "Gotham Black";
	src: url("/fonts/GothamHTF-Black.otf") format("truetype");
}

@font-face {
	font-family: "Gotham Light";
	src: url("/fonts/GothamHTF-Light.otf") format("truetype");
}
@font-face {
	font-family: "Editorial";
	src: url("/fonts/EditorialNew-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Editorial Thin";
	src: url("/fonts/EditorialNew-Thin.ttf") format("truetype");
}
*, 
*::after,
*::before {
    box-sizing: border-box;
	position: relative;
}

body { background: $black; }

html, 
a {
	cursor: none;
	cursor: url('/img/cursor.svg'), auto;
	animation: fade-in 3.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* --------- Scrolling texts ---------- */
.menu {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10vh 0 25vh;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 10vw;
	counter-reset: menu;
}

.marquee {
	position: absolute;
	top: 120;
	left: 0;
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
	color: $silver;
	opacity: 0.6;
	text-transform: uppercase;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 10s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.marquee .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee span {
  	text-align: center;
	white-space: nowrap;
	font-size: var(--item-font-size);
	padding: 0 1vw;
	font-family: "Gotham Black";
	line-height: 1.15;
}

/* --------- Scrolling texts 2 ---------- */
.menu3 {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10vh 0 25vh;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-50% + var(--offset));
	--move-final: calc(-25% + var(--offset));
	--item-font-size: 10vw;
	counter-reset: menu;
}

.marquee3 {
	position: absolute;
	top: 120;
	left: 0;
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
	text-transform: uppercase;
}

.marquee__inner3 {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 10s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.marquee3 .marquee__inner3 {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee3 p {
	text-align: center;
	white-space: nowrap;
	font-size: var(--item-font-size);
	padding: 0 1vw;
	font-family: "Gotham Black";
	line-height: 1.15;
	opacity: 0.6;
	-webkit-text-fill-color: $black; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: $white;
}

#location,
#year {
	font-size: 1rem;
	font-family: "Gotham Light";
	color: $white;
}

#location {
	opacity: 0.6;
}

#header {
	background: linear-gradient(180deg, #010101 10%, rgba(1, 1, 1, 0.8) 99%);
}

.container-fluid {
    border-bottom: 1px solid $white;
    margin: 0 auto;
	align-self: center;

	#homepage, 
	#contact,
	#folio {
	  font-family: "Gotham Book";
	  font-size: 18px;
	  margin-bottom: 8px;
	  padding: 16px;
	  color: $white;
	  letter-spacing: -1px;
	  text-transform: uppercase;
	  border-image-repeat: stretch;
	  -webkit-font-smoothing: antialiased;
	  text-align: center;
	  
  
	  &:hover { color: $silver; }
	}
	#folio {
		line-height: normal;
		color: $half-white;
		&:hover { color: $half-white; }
	}
}

/* --------- Sections ---------- */
#intro,
#about,
#fiap_projects,
#side_projects,
#social,
#copyright {
	font-family: "Gotham Light";
	font-size: 19px;
	letter-spacing: -.025px;
	line-height: 28px;
	color: $black;
	border-top: 1px solid $white;
	padding-top: 10px;
	color: $silver;
}

#intro {
	border: none;
}

#personal_projects, 
a {
	font-family: "Gotham Book";
	font-size: 3.2rem;
	letter-spacing: -0.12rem;
	text-transform: none;
	line-height: 120%;
	color: $black;
	text-decoration: none;
	text-transform: uppercase;	

}

#email,
#linkedin,
#behance {
	font-family: "Gotham Black";
	font-size: 4.4rem;
	text-transform: none;
	line-height: 140%;
	letter-spacing: 2px;
	text-transform: uppercase;

	-webkit-text-fill-color: #010101; 
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: rgba(255, 255, 255, 0.4);

	&:hover {
		color: #EF4050;

		-webkit-text-fill-color: #EF4050; 
		-webkit-text-stroke-width: #EF4050;
		-webkit-text-stroke-color: #EF4050;
	}
}


#goto {
	font-family: "Gotham Book";
	font-size: 12px;
	letter-spacing: -.025px;
	line-height: 28px;
	color: $half-white;
}

/* --------- Misc ---------- */
summary { cursor: pointer; }
summary::marker, summary::-webkit-details-marker {
	display: none;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

/* --------- Responsive ---------- */
@media only screen and (max-width: 600px) {
	#folio { display: none; }

	.menu {
		position: relative;
		top: -20px;
		--item-font-size: 20vw;
	}
	.menu3 {
		position: relative;
		top: -120px;
		--item-font-size: 20vw;
	}

	#homepage {
		position: relative;
		left: -16px;
	}

	#intro_num,
	#about_num,
	#copyright_num {
		position: relative;
		right: 15px;
	}
	#intro,
	#about,
	#side_projects,
	#copyright { font-size: 1rem; }

	#intro_txt,
	#about_txt,
	#copyright_txt {
		margin-left: 120px;
		position: relative;
		bottom: 28px;
	}

	#about {
		position: relative;
		bottom: 250px;
	}
	#social_media {
		position: relative;
		bottom: 278px;

		.arrow {
			width: 36px;
			height: 36px;
		}

		#email,
		#behance,
		#linkedin {
			font-size: 2.8rem;
			width: 36px;
			height: 36px;
			position: relative;
			line-height: 160%;
		}
	}

	#copyright {
		position: relative;
		bottom: 314px;
		border-bottom: none;

		#clock {
			position: relative;
			left: 120px;
			bottom: 26px;
		}
	}
	#timezone {
		width: 22px;
		height: 22px;
	}
	#goto {
		display: none;
	}
}

@media only screen and (max-width: 380px) {

}
	

@media only screen and (max-width: 320px) {

}

/* --------- Animation 01 ---------- */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
