/* --------- Variables ---------- */
$black: #2E2E2E;
$gray: #B2B2B2; 
$red: #FE6A79;
$pink: #F1E8E2;
$silver: #B2B2B2;
$white: #FFFFFF;

/* --------- Fonts ---------- */
@font-face {
	font-family: "Gotham Book";
	src: url("/fonts/GothamHTF-Book.otf") format("truetype");
}
@font-face {
	font-family: "Gotham Light";
	src: url("/fonts/GothamHTF-Light.otf") format("truetype");
}
@font-face {
	font-family: "Editorial";
	src: url("/fonts/EditorialNew-Light.ttf") format("truetype");
}


*, 
*::after,
*::before {
    box-sizing: border-box;
	position: relative;
}

body { background: #f0f0f0; }


html, 
a {
	cursor: none;
	cursor: url('/img/cursor_black.svg'), auto;
	animation: fade-in 3.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.container-fluid {
    border-bottom: 2.5px solid $black;
    margin: 0 auto;

  #homepage, 
  #contact,
  #folio {
	font-family: "Gotham Light";
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 10px;
    color: $black;
	letter-spacing: -1px;
	text-transform: uppercase;
	border-image-repeat: stretch;
	-webkit-font-smoothing: antialiased;
	text-align: center;

    &:hover { color: #777777; }
  }
  #folio {
	  line-height: normal;
  }
}

/* --------- Sections ---------- */
#intro,
#about,
#fiap_projects,
#side_projects,
#social,
#copyright {
	font-family: "Gotham Light";
	font-size: 19px;
	letter-spacing: -.025px;
	line-height: 28px;
	color: #ED4C19;
	border-top: 2.5px solid $black;
	padding-top: 10px;
}

#intro {
	border: none;
}

/* --------- Intro | Description ---------- */
.box {
	#title {
		font-family: "Editorial";
		color: $black;
		text-align: right;
		position: absolute;
		margin-right: 50px;
		margin-top: 300px;

		font-size: 15rem;
		letter-spacing: -.6rem;
		line-height: 90%;
		text-transform: initial;

		#year {
			-webkit-text-fill-color: #f0f0f0; 
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: $black;
		}
	}
}

#personal_projects, 
a {
	font-family: "Gotham Book";
	font-size: 3.2rem;
	letter-spacing: -0.12rem;
	text-transform: none;
	line-height: 120%;
	color: $black;
	text-decoration: none;
	text-transform: uppercase;

	&:hover { color: #777777; }
}

#goto {
	font-family: "Gotham Book";
	font-size: 12px;
	letter-spacing: -.025px;
	line-height: 28px;
	color: #000;
}

/* --------- Misc ---------- */
summary { cursor: pointer; }
summary::marker, summary::-webkit-details-marker {
	display: none;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}


/* --------- Responsive ---------- */
@media only screen and (max-width: 600px) {
	#folio { display: none; }

	.box { 
		#title { 
			font-size: 6rem;
			width: 90%;
		}
	}
	#homepage {
		margin-left: -10px;
	}

	#intro_num,
	#about_num,
	#copyright_num {
		position: relative;
		right: 15px;
	}
	#intro,
	#about,
	#side_projects,
	#copyright { font-size: 1rem; }

	#intro_txt,
	#about_txt,
	#copyright_txt {
		margin-left: 120px;
		position: relative;
		bottom: 28px;
	}

	#about {
		position: relative;
		bottom: 450px;
	}
	#social_media {
		position: relative;
		bottom: 500px;

		.arrow {
			width: 36px;
			height: 36px;
		}

		#email,
		#behance,
		#linkedin {
			width: 36px;
			height: 36px;
			position: relative;
			left: 26px;
			font-size: 2.5rem;
			letter-spacing: -2.7px;
			line-height: 160%;
		}
	}

	#copyright {
		position: relative;
		bottom: 564px;
		border-bottom: none;
	}
	#goto {
		position: relative;
		left: 226px;
		bottom: 60px;
	}
}

@media only screen and (max-width: 380px) {
	.box { 
		#title { 
			font-size: 5.3rem;
			width: 90%;
			letter-spacing: -.3rem;
		}
	}
}

@media only screen and (max-width: 320px) {
	.box { 
		#title { 
			font-size: 4.3rem;
			width: 90%;
			letter-spacing: -0.1rem;
			line-height: 95%;
		}
	}
}

/* --------- Animation 01 ---------- */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
