/* --------- Variables ---------- */
$platinum: #e5e5e5;
$beige: #F5F3ED;
$black: #010101;
$red: #FE6A79;
$pink: #F1E8E2;

/* --------- Variables ---------- */
@font-face {
	font-family: "Gotham HTF";
	src: url("/fonts/GothamHTF-Book.otf") format("truetype");
}

*, 
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  background: $pink;
}

html,
a {
	cursor: none;
	cursor: url('/img/cursor.svg'), auto;
}

#header {
  background: linear-gradient(180deg, #F1E8E2 80%, rgba(241, 232, 226, 0) 100%);
}

.container-fluid {
  border-bottom: 1px solid $black;
  padding: 10px;
  margin: 10px;

  #homepage, 
  #projects,
  #contact {
    font-family: "Gotham HTF";
    font-size: 18px;
    margin-bottom: 10px;
    color: $black;
    letter-spacing: -1px;
    text-transform: uppercase;
    border-image-repeat: stretch;
    -webkit-font-smoothing: antialiased;

    &:hover {
      color: #2E2E2E;
    }
  }
  #contact:hover { color: #2E2E2E; }

    #page_number {
      font-family: Butler;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: $black;
      
    }
}

#container_about {
  #about_info {
    font-family: Butler;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.065em;
  }
}

#container_communication {
  #communication_info, 
  #email,
  #phone {
    font-family: Butler;
    line-height: 20px;
    letter-spacing: 0.065em;
    color: $black;
    text-decoration: none;
  }
  #email {
    &:hover {
      text-decoration: underline;
      color: $red;
    }
  }
  #behance {
      font-family: Butler;
      font-size: 17.5px;
      line-height: 1px;
      letter-spacing: 0.065em;
      text-decoration-line: underline;
      color: $black;
      margin-bottom: 100px;
  
      &:hover {
        text-decoration-line: underline;
        color: $red;
      }
  }
}

#container_about,
#container_communication,
#header,
footer {
  -webkit-animation: fade-in 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#behance {
  animation-name            : displaceContent;
  animation-duration        : 1s;
  animation-delay           : 4s;
  animation-iteration-count : 1;
  animation-fill-mode       : forwards;
}
/* Responsive */
@media (max-width: 600px) {
  .container-fluid {
    border-bottom: 1px solid $black;
    padding: 5px;
    margin: 10px;

    #homepage, 
		#contact {
			font-size: 1rem;
			border-image-repeat: stretch;
			-webkit-font-smoothing: antialiased;
		}
}
  #about_title,
  #communication_title {
    visibility: hidden;
  }
  #container_about {
    background: url('/img/about_title_mobile.svg') no-repeat;
    margin-left: 20px;
  }
  #container_communication {
    background: url('/img/communication_title_mobile.svg') no-repeat;
    margin-left: 20px;
  }
}


/* --------- Animation 01 ---------- */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




@keyframes pulse {
  from {
      transform : scale(1);
      opacity   : 1;
  }
  50% {
      transform : scale(0.75);
      opacity   : 0.25;
  }
  to {
      transform : scale(1);
      opacity   : 1;
  }
}