/* --------- Variables ---------- */
/* --------- Fonts ---------- */
@font-face {
  font-family: "Gotham Book";
  src: url("/fonts/GothamHTF-Book.otf") format("truetype");
}

@font-face {
  font-family: "Gotham Black";
  src: url("/fonts/GothamHTF-Black.otf") format("truetype");
}

@font-face {
  font-family: "Gotham Light";
  src: url("/fonts/GothamHTF-Light.otf") format("truetype");
}

@font-face {
  font-family: "Editorial";
  src: url("/fonts/EditorialNew-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Editorial Thin";
  src: url("/fonts/EditorialNew-Thin.ttf") format("truetype");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  background: #D9D4D1;
}

html,
a {
  cursor: none;
  cursor: url("/img/cursor_black.svg"), auto;
  -webkit-animation: fade-in 3.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 3.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* --------- Scrolling texts ---------- */
.menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10vh 0 25vh;
  --marquee-width: 100vw;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  --item-font-size: 10vw;
  counter-reset: menu;
}

.marquee {
  position: absolute;
  top: 120;
  left: 0;
  width: var(--marquee-width);
  overflow: hidden;
  pointer-events: none;
  color: #2E2E2E;
  text-transform: uppercase;
}

.marquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translate3d(var(--move-initial), 0, 0);
          transform: translate3d(var(--move-initial), 0, 0);
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.marquee .marquee__inner {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.marquee span {
  text-align: center;
  white-space: nowrap;
  font-size: var(--item-font-size);
  padding: 0 1vw;
  font-family: "Gotham Black";
  line-height: 1.15;
}

/* --------- Scrolling texts 2 ---------- */
.menu3 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10vh 0 25vh;
  --marquee-width: 100vw;
  --offset: 20vw;
  --move-initial: calc(-50% + var(--offset));
  --move-final: calc(-25% + var(--offset));
  --item-font-size: 10vw;
  counter-reset: menu;
}

.marquee3 {
  position: absolute;
  top: 120;
  left: 0;
  width: var(--marquee-width);
  overflow: hidden;
  pointer-events: none;
  text-transform: uppercase;
}

.marquee__inner3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translate3d(var(--move-initial), 0, 0);
          transform: translate3d(var(--move-initial), 0, 0);
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.marquee3 .marquee__inner3 {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.marquee3 p {
  text-align: center;
  white-space: nowrap;
  font-size: var(--item-font-size);
  padding: 0 1vw;
  line-height: 1.15;
  font-family: "Gotham Black";
  opacity: 0.5;
  -webkit-text-fill-color: #D9D4D1;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2E2E2E;
}

#location,
#year {
  font-size: 1rem;
  font-family: "Gotham Light";
  color: #E83C38;
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.45%, #D9D4D1), color-stop(90%, rgba(217, 212, 209, 0.9)));
  background: linear-gradient(180deg, #D9D4D1 0.45%, rgba(217, 212, 209, 0.9) 90%);
}

.container-fluid {
  border-bottom: 1px solid #2E2E2E;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-fluid #homepage,
.container-fluid #contact,
.container-fluid #folio {
  font-family: "Gotham Book";
  font-size: 18px;
  margin-bottom: 8px;
  padding: 16px;
  color: #2E2E2E;
  letter-spacing: -1px;
  text-transform: uppercase;
  border-image-repeat: stretch;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.container-fluid #homepage:hover,
.container-fluid #contact:hover,
.container-fluid #folio:hover {
  color: #777777;
}

.container-fluid #folio {
  line-height: normal;
}

/* --------- Sections ---------- */
#intro,
#about,
#fiap_projects,
#side_projects,
#social,
#copyright {
  font-family: "Gotham Light";
  font-size: 19px;
  letter-spacing: -.025px;
  line-height: 28px;
  color: #2E2E2E;
  border-top: 1px solid #2E2E2E;
  padding-top: 10px;
}

#intro {
  border: none;
}

/* --------- Intro | Description ---------- */
#personal_projects,
a {
  font-family: "Gotham Book";
  font-size: 3.2rem;
  letter-spacing: -0.12rem;
  text-transform: none;
  line-height: 120%;
  color: #2E2E2E;
  text-decoration: none;
  text-transform: uppercase;
}

#personal_projects:hover,
a:hover {
  color: #E83C38;
}

#email,
#linkedin,
#behance {
  font-family: "Gotham Black";
  font-size: 3.2rem;
  text-transform: none;
  letter-spacing: 0.5px;
  line-height: 140%;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-text-fill-color: #D9D4D1;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #2E2E2E;
}

#email:hover,
#linkedin:hover,
#behance:hover {
  -webkit-text-fill-color: none;
  -webkit-text-stroke-width: none;
  -webkit-text-stroke-color: #E83C38;
}

#goto {
  font-family: "Gotham Book";
  font-size: 12px;
  letter-spacing: -.025px;
  line-height: 28px;
  color: #000;
}

/* --------- Misc ---------- */
summary {
  cursor: pointer;
}

summary::marker, summary::-webkit-details-marker {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

/* --------- Responsive ---------- */
@media only screen and (max-width: 600px) {
  #folio {
    display: none;
  }
  .menu {
    position: relative;
    top: -20px;
    --item-font-size: 20vw;
  }
  .menu3 {
    position: relative;
    top: -120px;
    --item-font-size: 20vw;
  }
  #homepage {
    position: relative;
    left: -16px;
  }
  #intro_num,
  #about_num,
  #copyright_num {
    position: relative;
    right: 15px;
  }
  #intro,
  #about,
  #side_projects,
  #copyright {
    font-size: 1rem;
  }
  #intro_txt,
  #about_txt,
  #copyright_txt {
    margin-left: 120px;
    position: relative;
    bottom: 28px;
  }
  #about {
    position: relative;
    bottom: 250px;
  }
  #social_media {
    position: relative;
    bottom: 278px;
  }
  #social_media .arrow {
    width: 36px;
    height: 36px;
  }
  #social_media #email,
  #social_media #behance,
  #social_media #linkedin {
    width: 36px;
    height: 36px;
    position: relative;
    left: 26px;
    font-size: 2.5rem;
    letter-spacing: -0.5px;
    line-height: 160%;
  }
  #copyright {
    position: relative;
    bottom: 314px;
    border-bottom: none;
  }
  #copyright #clock {
    position: relative;
    left: 120px;
    bottom: 26px;
  }
  #timezone {
    width: 22px;
    height: 22px;
  }
  #goto {
    display: none;
  }
}

/* --------- Animation 01 ---------- */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=contact.css.map */