/* --------- Variables ---------- */
/* --------- Fonts ---------- */
@font-face {
  font-family: "Gotham Book";
  src: url("/fonts/GothamHTF-Book.otf") format("truetype");
}

@font-face {
  font-family: "Gotham Black";
  src: url("/fonts/GothamHTF-Black.otf") format("truetype");
}

@font-face {
  font-family: "Gotham Light";
  src: url("/fonts/GothamHTF-Light.otf") format("truetype");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  background: #010101;
}

html,
a {
  cursor: none;
  cursor: url("/img/cursor.svg"), auto;
  -webkit-animation: fade-in 3.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 3.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* --------- Scrolling texts ---------- */
@-webkit-keyframes scroll-text {
  to {
    -webkit-transform: translate(-160%, -50%);
            transform: translate(-160%, -50%);
  }
}
@keyframes scroll-text {
  to {
    -webkit-transform: translate(-160%, -50%);
            transform: translate(-160%, -50%);
  }
}

nav {
  padding-top: 300px;
  padding-bottom: 300px;
  font-family: "Gotham Light";
  overflow: hidden;
}

nav h2 {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  font-size: 18rem;
  letter-spacing: 0.07em;
  -webkit-animation: scroll-text 2500s linear infinite;
          animation: scroll-text 2500s linear infinite;
  white-space: nowrap;
  color: #686868;
}

nav h2.white-text {
  z-index: 4;
  right: -12.5%;
  color: #686868;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

nav h5 {
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5rem;
  letter-spacing: 0.07em;
  -webkit-animation: scroll-text 1500s linear infinite;
          animation: scroll-text 1500s linear infinite;
  white-space: nowrap;
  color: #B2B2B2;
  opacity: 0.6;
}

#location {
  font-size: 1rem;
  font-family: "Gotham Light";
  color: #B2B2B2;
  letter-spacing: 2px;
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #010101), color-stop(99%, rgba(1, 1, 1, 0.8)));
  background: linear-gradient(180deg, #010101 10%, rgba(1, 1, 1, 0.8) 99%);
}

.container-fluid {
  border-bottom: 0.3px solid #FFFFFF;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-fluid #homepage,
.container-fluid #contact,
.container-fluid #folio {
  font-family: "Gotham Book";
  font-size: 18px;
  margin-bottom: 8px;
  padding: 16px;
  color: #FFFFFF;
  letter-spacing: -1px;
  text-transform: uppercase;
  border-image-repeat: stretch;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.container-fluid #homepage:hover,
.container-fluid #contact:hover,
.container-fluid #folio:hover {
  color: #B2B2B2;
}

.container-fluid #folio {
  line-height: normal;
  color: #ffffff80;
}

.container-fluid #folio:hover {
  color: #ffffff80;
}

/* --------- Sections ---------- */
#intro,
#about,
#fiap_projects,
#side_projects,
#social,
#copyright {
  font-family: "Gotham Light";
  font-size: 19px;
  letter-spacing: -.025px;
  line-height: 28px;
  color: #010101;
  border-top: 0.3px solid #FFFFFF;
  padding-top: 10px;
  color: #FFFFFF;
}

#intro {
  border: none;
}

#personal_projects,
a {
  font-family: "Gotham Book";
  font-size: 3.2rem;
  letter-spacing: -0.12rem;
  text-transform: none;
  line-height: 120%;
  color: #010101;
  text-decoration: none;
  text-transform: uppercase;
}

#email,
#linkedin,
#behance {
  font-family: "Gotham Black";
  font-size: 4.4rem;
  text-transform: none;
  line-height: 170%;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: #010101;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
}

#email:hover,
#linkedin:hover,
#behance:hover {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  -webkit-text-stroke-width: #19F596;
  -webkit-text-stroke-color: #19F596;
}

/* --------- Misc ---------- */
summary {
  cursor: pointer;
}

summary::marker, summary::-webkit-details-marker {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

/* --------- Responsive ---------- */
@media only screen and (max-width: 480px) {
  #location {
    display: none;
  }
  #homepage {
    position: relative;
    left: -16px;
  }
  nav {
    padding-top: 150px;
    padding-bottom: 200px;
  }
  nav h2 {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
    font-size: 8rem;
    letter-spacing: 0.07em;
    -webkit-animation: scroll-text 1000s linear infinite;
            animation: scroll-text 1000s linear infinite;
    white-space: nowrap;
    color: #686868;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
  }
  nav h2.white-text {
    z-index: 4;
    right: -12.5%;
    color: #686868;
  }
  nav h5 {
    position: absolute;
    left: 50%;
    top: 90%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 1rem;
    letter-spacing: 0.07em;
    -webkit-animation: scroll-text 200s linear infinite;
            animation: scroll-text 200s linear infinite;
    white-space: nowrap;
    color: #B2B2B2;
    opacity: 0.6;
  }
  #intro_num,
  #about_num,
  #copyright_num {
    position: relative;
    right: 15px;
  }
  #intro,
  #about,
  #side_projects,
  #copyright {
    font-size: 1rem;
  }
  #intro_txt,
  #about_txt,
  #copyright_txt {
    margin-left: 120px;
    position: relative;
    bottom: 28px;
  }
  #about {
    position: relative;
    bottom: 10px;
  }
  #social_media {
    position: relative;
    bottom: 20px;
    margin: 0 auto;
  }
  #social_media #email,
  #social_media #behance,
  #social_media #linkedin {
    font-size: 3rem;
    width: 36px;
    height: 36px;
    position: relative;
    line-height: 180%;
  }
  #copyright {
    position: relative;
    bottom: 70px;
    border-bottom: none;
  }
  #copyright #clock {
    position: relative;
    left: 120px;
    bottom: 26px;
  }
  #timezone {
    width: 22px;
    height: 22px;
  }
}

@media only screen and (max-width: 380px) {
  #location {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  #location {
    display: none;
  }
}

/* --------- Animation 01 ---------- */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=contact.css.map */