/* --------- Variables ---------- */
$black: #010101;
$silver: #B2B2B2;
$white: #FFFFFF;
$wolf: #D9D4D1;
$cinnabar: #E83C38;
$purple: #9738F0;
$mint: #36F097;
$half-white: #ffffff80;

/* --------- Fonts ---------- */
@font-face {
	font-family: "Gotham Book";
	src: url("/fonts/GothamHTF-Book.otf") format("truetype");
}

@font-face {
	font-family: "Gotham Black";
	src: url("/fonts/GothamHTF-Black.otf") format("truetype");
}

@font-face {
	font-family: "Gotham Light";
	src: url("/fonts/GothamHTF-Light.otf") format("truetype");
}
@font-face {
	font-family: "Editorial";
	src: url("/fonts/EditorialNew-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Editorial Thin";
	src: url("/fonts/EditorialNew-Thin.ttf") format("truetype");
}

*, 
*::after,
*::before {
	-webkit-box-sizing:padding-box;
	box-sizing:padding-box;
}

body { background: $black; }

html, 
a {
	cursor: none;
	cursor: url('/img/cursor.svg'), auto;
	animation: fade-in 3.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.card-img-top:nth-child(1) {
    cursor: url('/img/view-cursor.svg'), auto;
    transition: all .2s ease-in;
}

#header { background: linear-gradient(180deg, #010101 10%, rgba(1, 1, 1, 0.8) 99%); }

.container-fluid {
    border-bottom: 1px solid $white;
    margin: 0 auto;
	align-self: center;

  #homepage, 
  #contact,
  #folio {
	font-family: "Gotham Book";
    font-size: 18px;
    margin-bottom: 8px;
	padding: 16px;
    color: $white;
	letter-spacing: -1px;
	text-transform: uppercase;
	border-image-repeat: stretch;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	

    &:hover { color: $silver; }
  }
}

/* --------- Sections ---------- */
#intro {
	font-family: "Gotham Light";
	font-size: 19px;
	letter-spacing: -.025px;
	line-height: 28px;
	color: $wolf;
	border-top: 1px solid $white;
	padding-top: 10px;
	color: $white;
	margin-top: 200px;
}



*,*::before,*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  body {
	min-height: 100vh;
	overflow: hidden;
  }
  
  @keyframes scroll-text {
	to {
	  transform: translate(-160%, -50%);
	}
  }
  
  h2 {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(100%,-50%);
	font-size: 16rem;
	letter-spacing: 0.07em;
	animation: scroll-text 340s linear infinite;
	white-space: nowrap;
	color: $black;
	-webkit-text-fill-color: #010101; 
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
  }

  h5 {
	position: absolute;
	left: 50%;
	top: 90%;
	transform: translate(-50%, -50%);
	font-size: 5rem;
	letter-spacing: 0.07em;
	animation: scroll-text 200s linear infinite;
	white-space: nowrap;
	color: $black;
	-webkit-text-fill-color: #010101; 
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
  }
  
  h2.white-text {
	  z-index: 4;
	  right: -12.5%;
	  color: $silver;
	  -webkit-text-fill-color: $silver; 
	  -webkit-text-stroke-width: 1.5px;
	  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
  }
  
  .black-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 70%;
	transform: translate(-50%,-50%);
	overflow: hidden;
	// background: linear-gradient(180deg, $black 0.45%, rgba(1, 1, 1, 0.5) 99.55%);
  }
