/* --------- Variables ---------- */
/* --------- Fonts ---------- */
@font-face {
  font-family: "Gotham Book";
  src: url("/fonts/GothamHTF-Book.otf") format("truetype");
}

@font-face {
  font-family: "Gotham Black";
  src: url("/fonts/GothamHTF-Black.otf") format("truetype");
}

@font-face {
  font-family: "Gotham Light";
  src: url("/fonts/GothamHTF-Light.otf") format("truetype");
}

@font-face {
  font-family: "Editorial";
  src: url("/fonts/EditorialNew-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Editorial Thin";
  src: url("/fonts/EditorialNew-Thin.ttf") format("truetype");
}

*,
*::after,
*::before {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}

body {
  background: #010101;
}

html,
a {
  cursor: none;
  cursor: url("/img/cursor.svg"), auto;
  -webkit-animation: fade-in 3.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 3.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.card-img-top:nth-child(1) {
  cursor: url("/img/view-cursor.svg"), auto;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #010101), color-stop(99%, rgba(1, 1, 1, 0.8)));
  background: linear-gradient(180deg, #010101 10%, rgba(1, 1, 1, 0.8) 99%);
}

.container-fluid {
  border-bottom: 1px solid #FFFFFF;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-fluid #homepage,
.container-fluid #contact,
.container-fluid #folio {
  font-family: "Gotham Book";
  font-size: 18px;
  margin-bottom: 8px;
  padding: 16px;
  color: #FFFFFF;
  letter-spacing: -1px;
  text-transform: uppercase;
  border-image-repeat: stretch;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.container-fluid #homepage:hover,
.container-fluid #contact:hover,
.container-fluid #folio:hover {
  color: #B2B2B2;
}

/* --------- Sections ---------- */
#intro {
  font-family: "Gotham Light";
  font-size: 19px;
  letter-spacing: -.025px;
  line-height: 28px;
  color: #D9D4D1;
  border-top: 1px solid #FFFFFF;
  padding-top: 10px;
  color: #FFFFFF;
  margin-top: 200px;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

@-webkit-keyframes scroll-text {
  to {
    -webkit-transform: translate(-160%, -50%);
            transform: translate(-160%, -50%);
  }
}

@keyframes scroll-text {
  to {
    -webkit-transform: translate(-160%, -50%);
            transform: translate(-160%, -50%);
  }
}

h2 {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  font-size: 16rem;
  letter-spacing: 0.07em;
  -webkit-animation: scroll-text 340s linear infinite;
          animation: scroll-text 340s linear infinite;
  white-space: nowrap;
  color: #010101;
  -webkit-text-fill-color: #010101;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
}

h5 {
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 5rem;
  letter-spacing: 0.07em;
  -webkit-animation: scroll-text 200s linear infinite;
          animation: scroll-text 200s linear infinite;
  white-space: nowrap;
  color: #010101;
  -webkit-text-fill-color: #010101;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
}

h2.white-text {
  z-index: 4;
  right: -12.5%;
  color: #B2B2B2;
  -webkit-text-fill-color: #B2B2B2;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
}

.black-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}
/*# sourceMappingURL=explorations.css.map */