/* --------- Variables ---------- */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  position: relative;
  box-sizing: border-box;
}

body {
  background: #F5F3ED;
}

/* --------- Header ---------- */
#header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #F5F3ED), to(rgba(245, 243, 237, 0)));
  background: linear-gradient(180deg, #F5F3ED 50%, rgba(245, 243, 237, 0) 100%);
  position: fixed;
  width: 100%;
}

.container-fluid {
  border-bottom: 2px solid #1C1C1A;
  padding: 5px;
  margin: 10px;
}

.container-fluid #homepage,
.container-fluid #contact {
  font-family: Butler;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 10px;
  color: #1C1C1A;
}

.container-fluid #homepage:hover,
.container-fluid #contact:hover {
  color: #FE6A79;
}

.container-fluid #contact:hover {
  color: #FE6A79;
}

.container-fluid #page_number {
  font-family: Butler;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #1C1C1A;
}

/* --------- Card ---------- */
.card {
  border: transparent;
}

/* --------- Container ---------- */
#subtitle {
  font-size: 1.5em;
  font-family: Butler;
}

#fiap {
  text-decoration: underline;
  font-family: Butler;
  color: #1C1C1A;
}

#fiap:hover {
  color: #FE6A79;
}

/* --------- Page Content ---------- */
.box #inspect_project {
  font-family: Butler;
  font-style: normal;
  margin: 2.75rem 0 1.05rem;
  font-weight: 800;
  font-size: 80px;
  color: #1C1C1A;
}

.box #company_name,
.box #personal_projects {
  font-family: Butler;
  font-weight: lighter;
  text-transform: uppercase;
}

.box #project_one,
.box #project_two,
.box #project_three,
.box #project_four,
.box #project_five,
.box #project_six,
.box #project_seven,
.box #personal_one {
  font-family: Butler;
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 56px;
}

.box a {
  color: #1C1C1A;
}

.box a:hover {
  color: #FE6A79;
}

.box #emkt_one,
.box #emkt_two {
  text-decoration: none;
  font-family: Butler;
  font-size: 1.3rem;
  text-transform: uppercase;
}

summary {
  cursor: pointer;
}

summary::marker, summary::-webkit-details-marker {
  display: none;
}

#header,
.container,
footer {
  -webkit-animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* --------- Responsive ---------- */
@media only screen and (max-width: 600px) {
  .container-fluid {
    border-bottom: 2px solid #1C1C1A;
    padding: 5px;
    margin: 10px;
  }
  .box {
    position: relative;
    bottom: 50px;
  }
  .box #inspect_project {
    font-size: 2.6rem;
    margin-left: 10px;
  }
  .box #arrow {
    width: 32px;
    height: 32px;
    margin-left: 6px;
  }
  .box #company_name,
  .box #personal_projects {
    font-size: 1.5rem;
    margin-left: 30px;
  }
  .box #project_one,
  .box #project_two,
  .box #project_three,
  .box #project_four,
  .box #project_five,
  .box #project_six,
  .box #project_seven {
    margin-left: 30px;
    font-size: 1.8rem;
  }
  .box #emkt_one,
  .box #emkt_two {
    font-size: 1rem;
  }
  .box #personal_projects,
  .box #personal_one {
    position: relative;
    bottom: 50px;
  }
  .box #personal_one {
    font-size: 1.8rem;
    font-family: Butler;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 30px;
  }
}

/* --------- Animation 01 ---------- */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */