/* --------- Variables ---------- */
$black: #454C4F;
$silver: #bbbbbb;
$white: #F7F6F5;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	animation: fade-in 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#thumbnail,
#thumbnail_mobile {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}

body {
	background: $white;
	height: 100%;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html,
a {
	cursor: none;
	cursor: url('/img/cursor-2.svg'), auto;
  text-decoration: none;
}

a { cursor: pointer; }

#header {
	background-color: transparent;

	#homepage,
	#contact {
		font-family: 'Poppins', sans-serif;
    font-weight: 300;
		font-size: 18px;
		padding: 16px;
    text-transform: uppercase;
		-webkit-font-smoothing: antialiased;
		color: $black;

		&:hover { color: $silver; }
	}
  #homepage { padding-left: 32px; }
}

.text {
  text-indent: 7em;
  font-size: 3.4vw;
  color: $black;
  white-space: pre-line;
  line-height: .9;
  text-align: left;
  font-weight: 200;
  padding: 140px 40px;
  line-height: 104%;
}

strong {
  font-weight: 200;
  color: $silver;
}

/* --------- Sections ---------- */
.about {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 16px;
  color: $black;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: $black;
}

.footer_name,
.footer_copyright {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 16px;
  color: $black;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: $silver;
}

/* --------- About | Description ---------- */
#txt_about {
	font-size: 3.4vw;
  font-family: 'Poppins', sans-serif;
	font-weight: 500;
	letter-spacing: -0.05rem;
	text-transform: none;
	line-height: 120%;

  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: $silver;

  #linkedin:hover,
  #behance:hover,
  #email:hover,
  #resume:hover {  
    -webkit-text-fill-color: $black; 
    -webkit-text-stroke-color: $black;
    
  }

}

/* --------- Misc ---------- */
summary {
	cursor: pointer;
}

summary::marker,
summary::-webkit-details-marker {
	display: none;
}

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.container {
	display: grid;
	margin-left: 16px;
	grid-template-columns: repeat(3, 1fr);
}

.about {
	grid-column: 1 / 5;
	grid-row: 1;
}

.footer_name,
.footer_copyright {
  padding-top: 88px;
}

#txt_about,
.footer_copyright {
	grid-column: 2 / 4;
	grid-row: 1 / 3;
}

$color-dark: $black;
$color-border: transparent;
$color-trans-bg: transparent;
$ease-cb: cubic-bezier(.4,0,.2,1);
$ease-cb-2: cubic-bezier(.19,1,.22,1);
$ease-cb-3: cubic-bezier(.77,0,.175,1);
$ease-cb-4: cubic-bezier(.99,1,.92,1);
$pad: 3em;
$mq-med: 54em;
$mq-large: 65em;
$mq-xlarge: 91em;


@mixin nth-trans-delay($delay_items: 7, $delay_time: 0.2s){
  @for $i from 1 through $delay_items {
    &:nth-child(#{$i}) {   
     transition-delay: $delay_time * $i; 
    }
  }
}

.slides-nav {
  z-index: 99;
  position: fixed;
  right: -5%;
  display: flex;
  align-items: center;
  height: 100%;
  
  @media (min-width: $mq-med){
    right: 2%;
  }

  &__nav {
    position: relative;
    right: 0;
    display: block;
    font-size: 1em;
    transform: rotate(90deg);
    transform-origin: center;
  }
}

//-------------------------------
//  Slides
//-------------------------------
.slides {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
  background: $white;
  transition: background 1s $ease-cb-4;

  .is-sliding &{
    background: $color-trans-bg;
    transition: background 0.3s $ease-cb-4;
  }
}

//-------------------------------
//  Single Slide
//-------------------------------
$slide-content-size-sm: 95%;
$slide-content-size: 94%;

.slide {
  z-index: -1;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: z-index 1s ease;
  
  // Bring active layer to foreground
  &.is-active {
    z-index: 19;
    transition: z-index 1s ease;
  }

  &__content {
    position: relative;
    margin: 0 auto;
    height: $slide-content-size-sm;
    width: $slide-content-size-sm;
    top: (100% - $slide-content-size-sm) / 2;
    
    @media (min-width: $mq-med){
      height: $slide-content-size;
      width: $slide-content-size;
      top: (100% - $slide-content-size) / 2;
    }
  }

  &__header {
    z-index: 9;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    transform: translateX(5%);
    
    @media (min-width: $mq-med){
      position: relative;
      display: flex;
      align-items: center;

    }
  }

  &__title {
    font-size: 4.5em;
    overflow-y: hidden;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: $white;

    @media (min-width: $mq-med){
      font-size: 9em;
      font-weight: 500;
      text-transform: none;
      letter-spacing: -0.5px;
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      -webkit-text-fill-color: transparent; 
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $white;
    }
     
    // Slice text animation
    .title-line {
      display: block;
      overflow-y: hidden;

      span {
        display: inline-block;
        transform:translate3d(0,140%,0);
        opacity: 0;
        transition: transform 0.4s ease, opacity 0.8s ease;
        @include nth-trans-delay(2, 0.15s);
      }

      .is-active & span {
        transform:translate3d(0,0%,0);
        opacity: 1;
        transition: transform 0.6s $ease-cb-3, opacity 0.1s ease;
      }
      .is-active &:nth-of-type(2n) span {
        transition-delay:0.2s;
      }
    }
  }
  
  // Image wrapper
  &__figure {
    z-index: 7;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    transition: transform 0.5s $ease-cb-2;
    border-radius: 1rem;
     
    // Scale Image
    .is-sliding &{
      transform: scale(0.5);
      transition: transform 0.5s $ease-cb-2;
    }
  }
  &__img {
    position: relative;
    display: block;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    backface-visibility: hidden;
    height: 0%;
    width: 100%;
    filter: grayscale(0%);
    transition: height 1s 1.4s $ease-cb-2, filter 0.4s 0.1s ease;
      
    .is-active & {
      height: 100%;
      opacity: 1;
      transition: height .5s .3s $ease-cb-3, filter 0.4s 0.1s ease;
    }
    .is-sliding & {
      filter: grayscale(100%);
    }
  }
}

#linkedin,
#behance,
#email,
#resume { color: $silver; }

#linkedin:hover::after,
#behance:hover::after {
  content: url('/img/external-link.svg'); 
  display: inline-block; 
  margin-left: 8px;
}

/* --------- Animation 01 ---------- */
@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

// Media queries
@media screen and (max-width: 1024px) {
  .slide {
    &__title {
      font-size: 12vw;
      -webkit-text-fill-color: transparent; 
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $white;
    }
  }

	#homepage,
  .about {
		position: relative;
		right: 8px;
	}

	#contact,
  .footer_name {
		position: relative;
		left: 8px;
	}

  .footer_copyright {
    position: relative;
		left: -10px;
  }

  #txt_about {
	  grid-column: 2 / 1;
    position: relative;
		left: 300px;
    padding-top: 8px;
    font-size: 4vw;
  }
  .text { font-size: 4vw; }
}

@media screen and (max-width: 740px) {
  .slide {
    &__title {
      font-size: 12vw;
      font-weight: 500;
      -webkit-text-fill-color: transparent; 
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $white;
    }
  }

	#homepage,
  .about {
		position: relative;
		right: 24px;
	}

	#contact {
		position: relative;
		left: 24px;
	}

  .footer_name {
    position: relative;
		left: -10px;
  }

  .footer_copyright {
    position: relative;
		left: 30px;
  }

  .text {
    font-size: 5vw;
    padding: 88px 24px;
  }

  #txt_about {
	  grid-column: 2 / 1;
    position: relative;
		left: -10px;
    font-size: 6vw;
    left: 200px;
    -webkit-text-stroke-width: 1px;
  }
}

@media screen and (max-width: 430px) {
  .slide {
    &__title {
      font-size: 12vw;
      font-weight: 500;
      -webkit-text-fill-color: transparent; 
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $white;
    }
  }

  .text,
  #txt_about {
    font-size: 8vw;
    text-indent: 0;
    padding: 88px 14px;
  }

  #txt_about {
    -webkit-text-stroke-width: 1px;
    font-size: 11vw;
  }

	#homepage,
  .about {
		position: relative;
		right: 32px;
	}

	#contact {
		position: relative;
		left: 32px;
	}

  #thumbnail { display: none; }

  #txt_about {
    position: relative;
		left: -32px;
    padding-top: 88px;
  }
  .footer_name {
    position: relative;
		left: -16px;
  }
  .footer_copyright {
    position: relative;
		top: 26px;
    left: 18px;
  }
}

@media screen and (max-width: 320px) {
  .slide {
    &__title {
      font-size: 12vw;
      font-weight: 500;
      -webkit-text-fill-color: transparent; 
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $white;
    }
  }

  #homepage,
  .about {
		position: relative;
		right: 32px;
	}
	#contact {
    position: relative;
		left: 222px;
    bottom: 58px;
	}
  .text {
    font-size: 8vw;
    text-indent: 0;
    padding: 72px 12px;
  }
  #txt_about { padding: 64px 14px 0 14px; }
  .footer_copyright { display: none; }
}

@media screen and (min-width: 431px) {
  #thumbnail_mobile { display: none; }
}

