/* --------- Variables ---------- */
$platinum: #e5e5e5;
$beige: #F5F3ED;
$black: #1C1C1A;
$red: #FE6A79;
$pink: #F2E2DB;

*, 
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
	position: relative;
	box-sizing: border-box;
}

body {
  background: $beige;
}

/* --------- Header ---------- */
#header { 
	background: linear-gradient(180deg, #F5F3ED 50%, rgba(245, 243, 237, 0) 100%);
	position: fixed;
	width: 100%;
}

.container-fluid {
    border-bottom: 2px solid $black;
    padding: 5px;
    margin: 10px;

  #homepage, 
  #contact {
    font-family: Butler;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: $black;

    &:hover { color: $red; }
  }
	#contact:hover { color: $red; }

	#page_number {
      font-family: Butler;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: $black;
    }
}

/* --------- Card ---------- */
.card {
	border: transparent;
}


/* --------- Container ---------- */
	#subtitle {
		font-size: 1.5em;
		font-family: Butler;
	}

	#fiap {
		text-decoration: underline;
		font-family: Butler;
		color: $black;
		&:hover { color: $red; }
	}

/* --------- Page Content ---------- */
.box {
	#inspect_project {
		font-family: Butler;
		font-style: normal;
		margin: 2.75rem 0 1.05rem;
		font-weight: 800;
		font-size: 80px;
		color: $black;
	}

	#company_name,
	#personal_projects {
		font-family: Butler;
		font-weight: lighter;
		text-transform: uppercase;
	}

	#project_one,
	#project_two,
	#project_three,
	#project_four,
	#project_five,
	#project_six,
	#project_seven,
	#personal_one {
		font-family: Butler;
		font-weight: 800;
		font-size: 2rem;
		text-transform: uppercase;
		text-decoration: underline;
		line-height: 56px;
	}
	a { color: $black;
		&:hover {color:  $red; }
	}
	#emkt_one,
	#emkt_two {
		text-decoration: none;
		font-family: Butler;
		font-size: 1.3rem;
		text-transform: uppercase;
	}

}

summary { cursor: pointer; }
summary::marker, summary::-webkit-details-marker {
	display: none;
}

#header,
.container,
footer { animation: fade-in 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; }

/* --------- Responsive ---------- */
@media only screen and (max-width: 600px) {
	.container-fluid {
		border-bottom: 2px solid $black;
		padding: 5px;
		margin: 10px;
	}
	.box {
		position: relative;
		bottom: 50px;

		#inspect_project {
			font-size: 2.6rem;
			margin-left: 10px;
		}
		#arrow {
			width: 32px;
			height: 32px;
			margin-left: 6px;
		}
	}

	.box {
		#company_name,
		#personal_projects {
			font-size: 1.5rem;
			margin-left: 30px;
		}
		#project_one,
		#project_two,
		#project_three,
		#project_four,
		#project_five,
		#project_six,
		#project_seven {
			margin-left: 30px;
			font-size: 1.8rem;
		}
		#emkt_one,
		#emkt_two {
			font-size: 1rem;
		}
		#personal_projects,
		#personal_one {
			position: relative;
			bottom: 50px;
		}
		#personal_one {
			font-size: 1.8rem;
			font-family: Butler;
			font-weight: 800;
			text-transform: uppercase;
			margin-left: 30px;
		}
	}
}


/* --------- Animation 01 ---------- */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
