/* --------- Variables ---------- */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

body {
  background: #010101;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
a {
  cursor: none;
  cursor: url("/img/cursor.svg"), auto;
}

/* --------- Scrolling texts ---------- */
@-webkit-keyframes marqueeLine {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes marqueeLine {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/* Running text */
.running-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.marquee {
  overflow: hidden;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 40vw;
}

.marquee__line {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  padding: 0px 15px;
  min-width: 100%;
  white-space: nowrap;
  -webkit-animation-name: marqueeLine;
          animation-name: marqueeLine;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.marquee__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#location {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  color: #B2B2B2;
  letter-spacing: 3px;
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #010101), color-stop(0.1%, rgba(1, 1, 1, 0.6)));
  background: linear-gradient(180deg, #010101 10%, rgba(1, 1, 1, 0.6) 0.1%);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

/* --------- FIAP projects ---------- */
#global,
#corporate,
#next,
#lgpd,
#power_skills,
#layout_ex,
#spotify-cover,
#nouvelle {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 9.2vh;
  text-transform: none;
  line-height: 160%;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: #010101;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
}

#global:hover,
#corporate:hover,
#next:hover,
#lgpd:hover,
#power_skills:hover,
#layout_ex:hover,
#spotify-cover:hover,
#nouvelle:hover {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  -webkit-text-stroke-width: #AEFF03;
  -webkit-text-stroke-color: #AEFF03;
}

.container-fluid {
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-fluid #homepage,
.container-fluid #contact {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-bottom: 8px;
  padding: 16px;
  color: #FFFFFF;
  letter-spacing: -2px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.container-fluid #homepage:hover,
.container-fluid #contact:hover {
  color: #B2B2B2;
}

/* --------- Sections ---------- */
#intro,
#about,
#fiap_projects,
#side_projects,
#social,
#copyright {
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  font-weight: 200;
  letter-spacing: -.025px;
  line-height: 28px;
  color: #D9D4D1;
  border-top: 0.3px solid #B2B2B2;
  padding-top: 10px;
  color: #B2B2B2;
}

/* --------- About | Description ---------- */
#txt_about,
#fiap {
  font-size: 3.4vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: -0.12rem;
  text-transform: none;
  line-height: 120%;
  color: #ffffff80;
}

#fiap:hover {
  color: #F61A78;
}

a {
  font-family: 'Poppins', sans-serif;
  font-size: 3.2vh;
  letter-spacing: -0.12rem;
  text-transform: none;
  line-height: 120%;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #B2B2B2;
}

/* --------- Misc ---------- */
summary {
  cursor: pointer;
}

summary::marker, summary::-webkit-details-marker {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

/* --------- Animation 01 ---------- */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 414px) {
  #location {
    display: none;
  }
  #intro_txt,
  #about_txt,
  #fiap_txt,
  #personal_txt {
    position: absolute;
    margin-left: 124px;
  }
  #homepage {
    position: relative;
    right: 6px;
  }
  #contact {
    position: relative;
    left: 28px;
  }
  #txt_about {
    font-size: 1.8rem;
    padding-left: 32px;
    padding-right: 32px;
    line-height: 2.52rem;
  }
  #fiap {
    font-size: 1.8rem;
  }
  #global,
  #corporate,
  #next,
  #lgpd,
  #power_skills,
  #nouvelle,
  #layout_ex,
  #nouvelle,
  #layout_ex {
    font-size: 42px;
    line-height: 92.4px;
    margin-left: 40px;
  }
  #clock {
    position: absolute;
    margin-left: 124px;
  }
}

@media screen and (max-width: 375px) {
  #txt_about {
    font-size: 1.6rem;
    padding-left: 32px;
    padding-right: 32px;
    line-height: 2.24rem;
  }
  #fiap {
    font-size: 1.6rem;
  }
  #global,
  #corporate,
  #next,
  #lgpd,
  #power_skills,
  #nouvelle,
  #layout_ex,
  #nouvelle,
  #layout_ex {
    font-size: 38px;
    line-height: 83.6px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 320px) {
  #global,
  #corporate,
  #next,
  #lgpd,
  #power_skills,
  #nouvelle,
  #layout_ex,
  #nouvelle,
  #layout_ex {
    font-size: 32px;
    line-height: 70.4px;
    margin-left: 40px;
  }
}
/*# sourceMappingURL=index.css.map */