/* --------- Variables ---------- */
/* --------- Fonts ---------- */
@font-face {
  font-family: "Gotham Book";
  src: url("/fonts/GothamHTF-Book.otf") format("truetype");
}

@font-face {
  font-family: "Gotham Black";
  src: url("/fonts/GothamHTF-Black.otf") format("truetype");
}

@font-face {
  font-family: "Gotham Light";
  src: url("/fonts/GothamHTF-Light.otf") format("truetype");
}

@font-face {
  font-family: "Editorial";
  src: url("/fonts/EditorialNew-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Editorial Thin";
  src: url("/fonts/EditorialNew-Thin.ttf") format("truetype");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  background: #010101;
}

html,
a {
  cursor: none;
  cursor: url("/img/cursor.svg"), auto;
  -webkit-animation: fade-in 3.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 3.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* --------- Scrolling texts ---------- */
@-webkit-keyframes scroll-text {
  to {
    -webkit-transform: translate(-160%, -50%);
            transform: translate(-160%, -50%);
  }
}
@keyframes scroll-text {
  to {
    -webkit-transform: translate(-160%, -50%);
            transform: translate(-160%, -50%);
  }
}

nav {
  padding-top: 300px;
  padding-bottom: 300px;
  font-family: "Gotham Light";
  overflow: hidden;
}

nav h2 {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  font-size: 18rem;
  letter-spacing: 0.07em;
  -webkit-animation: scroll-text 600s linear infinite;
          animation: scroll-text 600s linear infinite;
  white-space: nowrap;
  color: #686868;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

nav h2.white-text {
  z-index: 4;
  right: -12.5%;
  color: #686868;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

nav h5 {
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  letter-spacing: 0.07em;
  -webkit-animation: scroll-text 200s linear infinite;
          animation: scroll-text 200s linear infinite;
  white-space: nowrap;
  color: #B2B2B2;
  opacity: 0.6;
}

nav .black-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

#location {
  font-size: 1rem;
  font-family: "Gotham Light";
  color: #B2B2B2;
  letter-spacing: 2px;
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #020202), color-stop(0.1%, rgba(2, 2, 2, 0.6)));
  background: linear-gradient(180deg, #020202 10%, rgba(2, 2, 2, 0.6) 0.1%);
}

/* --------- FIAP projects ---------- */
#project_one,
#project_two,
#project_three,
#project_four,
#project_five,
#project_six,
#project_seven {
  font-family: "Gotham Black";
  font-size: 4.4rem;
  text-transform: none;
  line-height: 140%;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: #010101;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
}

#project_one:hover,
#project_two:hover,
#project_three:hover,
#project_four:hover,
#project_five:hover,
#project_six:hover,
#project_seven:hover {
  color: #EF4050;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  -webkit-text-fill-color: #EF4050;
  -webkit-text-stroke-width: #EF4050;
  -webkit-text-stroke-color: #EF4050;
}

.container-fluid {
  border-bottom: 1px solid #FFFFFF;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-fluid #homepage,
.container-fluid #contact,
.container-fluid #folio {
  font-family: "Gotham Book";
  font-size: 18px;
  margin-bottom: 8px;
  padding: 16px;
  color: #FFFFFF;
  letter-spacing: -1px;
  text-transform: uppercase;
  border-image-repeat: stretch;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.container-fluid #homepage:hover,
.container-fluid #contact:hover,
.container-fluid #folio:hover {
  color: #B2B2B2;
}

.container-fluid #folio {
  line-height: normal;
  color: #ffffff80;
}

.container-fluid #folio:hover {
  color: #ffffff80;
}

/* --------- Sections ---------- */
#intro,
#about,
#fiap_projects,
#side_projects,
#social,
#copyright {
  font-family: "Gotham Light";
  font-size: 19px;
  letter-spacing: -.025px;
  line-height: 28px;
  color: #D9D4D1;
  border-top: 1px solid #FFFFFF;
  padding-top: 10px;
  color: #FFFFFF;
}

#intro {
  border: none;
}

/* --------- About | Description ---------- */
#txt_about {
  font-size: 3.2em;
  font-family: "Gotham Light";
  letter-spacing: -0.12rem;
  text-transform: none;
  line-height: 120%;
  color: #ffffff80;
}

#fiap {
  text-decoration: none;
  font-family: "Gotham Light";
  letter-spacing: -0.12rem;
  text-transform: none;
  line-height: 120%;
  color: #ffffff80;
}

#fiap:hover {
  color: #EF4050;
}

#personal_projects,
a {
  font-family: "Gotham Book";
  font-size: 3.2rem;
  letter-spacing: -0.12rem;
  text-transform: none;
  line-height: 120%;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

#personal_projects:hover,
a:hover {
  color: #B2B2B2;
}

#goto {
  font-family: "Gotham Book";
  font-size: 12px;
  letter-spacing: -.025px;
  line-height: 28px;
  color: #B2B2B2;
}

/* --------- Misc ---------- */
summary {
  cursor: pointer;
}

summary::marker, summary::-webkit-details-marker {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

/* --------- Responsive ---------- */
@media only screen and (max-width: 480px) {
  #homepage {
    position: relative;
    left: -16px;
  }
  #location {
    display: none;
  }
  nav {
    padding-top: 150px;
    padding-bottom: 200px;
  }
  nav h2 {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
    font-size: 8rem;
    letter-spacing: 0.07em;
    -webkit-animation: scroll-text 600s linear infinite;
            animation: scroll-text 600s linear infinite;
    white-space: nowrap;
    color: #686868;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
  }
  nav h2.white-text {
    z-index: 4;
    right: -12.5%;
    color: #686868;
  }
  nav h5 {
    position: absolute;
    left: 50%;
    top: 90%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 2rem;
    letter-spacing: 0.07em;
    -webkit-animation: scroll-text 200s linear infinite;
            animation: scroll-text 200s linear infinite;
    white-space: nowrap;
    color: #B2B2B2;
    opacity: 0.6;
  }
  nav .black-box {
    top: 50%;
    left: 50%;
    width: 80%;
    height: 70%;
  }
  #intro_num,
  #about_num,
  #fiap_num,
  #personal_num,
  #copyright_num {
    position: relative;
    right: 15px;
  }
  #timezone {
    width: 22px;
    height: 22px;
  }
  #intro,
  #about,
  #fiap_projects,
  #side_projects,
  #copyright {
    font-size: 1rem;
  }
  #intro_txt,
  #about_txt,
  #fiap_txt,
  #personal_txt,
  #clock {
    margin-left: 120px;
    position: relative;
    bottom: 28px;
  }
  #about {
    position: relative;
    bottom: 90px;
  }
  #txt_about {
    font-size: 2rem;
    margin-left: 30px;
    position: relative;
    bottom: 78px;
    width: 82%;
  }
  #fiap {
    font-size: 1.75rem;
  }
  #fiap_projects {
    position: relative;
    bottom: 84px;
  }
  #side_projects {
    position: relative;
    bottom: 120px;
  }
  #copyright {
    position: relative;
    bottom: 70px;
    border-bottom: none;
  }
  #projects #project_one,
  #projects #project_two,
  #projects #project_three,
  #projects #project_four,
  #projects #project_five,
  #projects #project_six {
    font-size: 2.4rem;
    position: relative;
    bottom: 70px;
    line-height: 200%;
  }
  #personal_projects #project_seven {
    font-size: 2.4rem;
    position: relative;
    bottom: 90px;
    line-height: 10%;
  }
}

@media only screen and (max-width: 370px) {
  #projects #project_one,
  #projects #project_two,
  #projects #project_three,
  #projects #project_four,
  #projects #project_five,
  #projects #project_six {
    font-size: 2.3rem;
    position: relative;
    bottom: 100px;
    line-height: 250%;
  }
  #personal_projects #project_seven {
    font-size: 2.3rem;
    position: relative;
    bottom: 120px;
    line-height: 10%;
  }
}

@media only screen and (max-width: 320px) {
  #location {
    display: none;
  }
  #projects #project_one,
  #projects #project_two,
  #projects #project_three,
  #projects #project_four,
  #projects #project_five,
  #projects #project_six {
    font-size: 1.8rem;
    position: relative;
    bottom: 100px;
    line-height: 250%;
  }
  #personal_projects #project_seven {
    font-size: 2rem;
    position: relative;
    bottom: 120px;
    line-height: 10%;
  }
}

/* --------- Animation 01 ---------- */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */