/* --------- Variables ---------- */
$black: #010101;
$red: #FE6A79;
$pink: #F1E8E2;

/* --------- Variables ---------- */
@font-face {
	font-family: "Gotham HTF";
	src: url("/fonts/GothamHTF-Book.otf") format("truetype");
}

*, 
*::after,
*::before {
    box-sizing: border-box;
	position: relative;
	box-sizing: border-box;
}

body {
  background: $black;
}

html,
a,
dt {
	cursor: none;
	cursor: url('/img/cursor.svg'), auto;
}

/* --------- Header ---------- */
#header { 
	background: linear-gradient(180deg, #010101 80%, rgba(1, 1, 1, 0) 100%);
	position: fixed;
	width: 100%;
}

.container-fluid {
    border-bottom: 2px solid #fff;
    padding: 10px;
    margin: 10px;

  #homepage, 
  #contact {
	font-family: "Gotham HTF";
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
	letter-spacing: -1px;
	text-transform: uppercase;
	border-image-repeat: stretch;
	-webkit-font-smoothing: antialiased;

    &:hover { color: #B2B2B2; }
  }
	#contact:hover { color: #B2B2B2; }

	#page_number {
      font-family: Butler;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: #fff;
    }
}

/* --------- Card ---------- */
.card {
	border: transparent;
}


/* --------- Container ---------- */
	#subtitle {
		font-size: 1.5em;
		font-family: Butler;
		color: #fff;
		margin-top: 300px;
	}

	#fiap {
		text-decoration: underline;
		font-family: Butler;
		color: #fff;
		&:hover { color: $red; }
	}

/* --------- Page Content ---------- */
.box {
	#inspect_project {
		font-family: Butler;
		font-style: normal;
		margin: 2.75rem 0 1.05rem;
		font-weight: 800;
		font-size: 80px;
		color: #fff;
	}

	#company_name,
	#personal_projects {
		font-family: Butler;
		font-weight: lighter;
		text-transform: uppercase;
		color: #fff;
	}

	#project_one,
	#project_two,
	#project_three,
	#project_four,
	#project_five,
	#project_six,
	#project_seven,
	#personal_one {
		font-family: Butler;
		font-weight: 800;
		font-size: 2rem;
		text-transform: uppercase;
		line-height: 56px;
		color: #fff;
		text-decoration: none;

		&:hover { color:  #B2B2B2; }
	}
	a { color: #fff;
		&:hover { color: #B2B2B2; }
	}
	#emkt_one,
	#emkt_two {
		text-decoration: none;
		font-family: Butler;
		font-size: 1.3rem;
		text-transform: uppercase;
	}

}

summary { cursor: pointer; }
summary::marker, summary::-webkit-details-marker {
	display: none;
}

#header,
.container,
footer { animation: fade-in 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; }

/* --------- Responsive ---------- */
@media only screen and (max-width: 600px) {
	.container-fluid {
		border-bottom: 2px solid #fff;
		padding: 5px;
		margin: 10px;

		#homepage, 
		#contact {
			font-size: 1rem;
			border-image-repeat: stretch;
			-webkit-font-smoothing: antialiased;
		}
	}
	.box {
		position: relative;
		bottom: 50px;

		#inspect_project {
			font-size: 2.6rem;
			margin-left: 10px;
		}
		#arrow {
			width: 32px;
			height: 32px;
			margin-left: 6px;
		}
	}

	.box {
		#company_name,
		#personal_projects {
			font-size: 1.2rem;
			margin-left: 30px;
		}
		#project_one,
		#project_two,
		#project_three,
		#project_four,
		#project_five,
		#project_six,
		#project_seven {
			margin-left: 30px;
			font-size: 1.8rem;
		}
		#emkt_one,
		#emkt_two {
			font-size: 1.1rem;
			position: relative;
			left: 10px;
		}
		#personal_projects,
		#personal_one {
			position: relative;
			bottom: -90px;
		}
		#personal_one {
			font-size: 1.8rem;
			font-family: Butler;
			font-weight: 800;
			text-transform: uppercase;
			margin-left: 30px;
		}
	}
}


/* --------- Animation 01 ---------- */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
