/* --------- Variables ---------- */
/* --------- Fonts ---------- */
@font-face {
  font-family: "Gotham Thin";
  src: url("/fonts/GothamHTF-Thin.otf") format("truetype");
}

@font-face {
  font-family: "Gotham Book";
  src: url("/fonts/GothamHTF-Book.otf") format("truetype");
}

@font-face {
  font-family: "Gotham Black";
  src: url("/fonts/GothamHTF-Black.otf") format("truetype");
}

@font-face {
  font-family: "Gotham Light";
  src: url("/fonts/GothamHTF-Light.otf") format("truetype");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  background: #010101;
}

html,
a {
  cursor: none;
  cursor: url("/img/cursor.svg"), auto;
  -webkit-animation: fade-in 3.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 3.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

nav .title {
  position: absolute;
  margin-top: 50px;
  top: 10%;
  left: 0;
  right: 0;
  font-family: "Gotham Thin";
  overflow: hidden;
  text-align: center;
  font-size: 8.5rem;
  color: #686868;
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #010101), color-stop(99%, rgba(1, 1, 1, 0.8)));
  background: linear-gradient(180deg, #010101 10%, rgba(1, 1, 1, 0.8) 99%);
}

.container-fluid {
  border-bottom: 0.3px solid #FFFFFF;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-fluid #homepage,
.container-fluid #contact {
  font-family: "Gotham Book";
  font-size: 18px;
  margin-bottom: 8px;
  padding: 16px;
  color: #FFFFFF;
  letter-spacing: -1px;
  text-transform: uppercase;
  border-image-repeat: stretch;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.container-fluid #homepage:hover,
.container-fluid #contact:hover {
  color: #B2B2B2;
}

/* --------- CARD 1 ---------- */
.card {
  overflow: hidden;
  margin-top: 600px;
  border: none;
  border-radius: 0;
}

.card .card-img-top {
  background: transparent;
}

.card .card-body {
  background-color: #010101;
}

.card .card-text {
  color: #B2B2B2;
  font-size: 14rem;
  font-family: "Gotham Thin";
}

.card .card-text::after {
  content: ".";
  font-family: "Editorial";
  color: #B2B2B2;
}

.card #card-info {
  color: #B2B2B2;
  position: relative;
  top: 52px;
}

.card #card-info #roger {
  font-size: 0.9rem;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.card #card-info #roger:hover {
  color: #686868;
}

/* --------- Sections ---------- */
#intro,
#copyright {
  font-family: "Gotham Light";
  font-size: 19px;
  letter-spacing: -.025px;
  line-height: 28px;
  color: #010101;
  border-top: 0.3px solid #FFFFFF;
  padding-top: 10px;
  color: #FFFFFF;
}

#intro {
  border: none;
}

/* --------- Misc ---------- */
summary {
  cursor: pointer;
}

summary::marker, summary::-webkit-details-marker {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

/* --------- Scrolling texts ---------- */
@-webkit-keyframes scroll-text {
  to {
    -webkit-transform: translate(-160%, -50%);
            transform: translate(-160%, -50%);
  }
}
@keyframes scroll-text {
  to {
    -webkit-transform: translate(-160%, -50%);
            transform: translate(-160%, -50%);
  }
}

.section {
  padding-top: 300px;
  overflow: hidden;
  font-family: 'Gotham Thin';
}

.section h2 {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  font-size: 4rem;
  letter-spacing: 0.07em;
  -webkit-animation: scroll-text 300s linear infinite;
          animation: scroll-text 300s linear infinite;
  white-space: nowrap;
  color: #686868;
}

.section .black-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  border-top: 1px solid #686868;
  border-bottom: 1px solid #686868;
}

.section .corporate {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Gotham Light';
}

@media only screen and (max-width: 1024px) {
  nav .title {
    font-size: 8rem;
  }
}

@media only screen and (min-width: 1024px) {
  nav .title {
    font-size: 9.5rem;
  }
}

@media only screen and (max-width: 480px) {
  #homepage {
    position: relative;
    left: -16px;
  }
  #copyright_num {
    position: relative;
    right: 15px;
    font-size: 1rem;
  }
  nav .title {
    margin-top: 180px;
    left: 0;
    right: 0;
    font-size: 3.2rem;
    letter-spacing: -1.5px;
  }
  .section {
    position: relative;
    bottom: 120px;
  }
  .section .col {
    position: relative;
    bottom: 28px;
    left: 8px;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 1rem;
  }
  .card {
    position: relative;
    bottom: 140px;
  }
  .card .card-img-top {
    background: transparent;
  }
  .card .card-text {
    position: relative;
    bottom: -124px;
    left: -16px;
    font-size: 10rem;
  }
  .card .card-text::after {
    font-size: 7rem;
    position: relative;
    right: 10px;
  }
  .card #card-info {
    font-size: 1.2rem;
  }
  .card .row {
    position: relative;
    top: -200px;
  }
  .card #card-info {
    line-height: 180%;
    width: 100%;
    position: relative;
  }
  #copyright {
    position: relative;
    bottom: 300px;
    border-bottom: none;
  }
  #copyright #clock,
  #copyright #top {
    margin-left: 120px;
    position: relative;
    bottom: 28px;
  }
  #top {
    text-decoration: none;
    position: relative;
    right: -72px;
  }
  #intro {
    font-size: 1rem;
  }
  #intro_num {
    position: relative;
    right: 15px;
  }
}

@media only screen and (max-width: 375px) {
  nav .title {
    font-size: 4.2rem;
  }
  #top {
    text-decoration: none;
    position: relative;
    right: -32px;
  }
}

/* --------- Animation 01 ---------- */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=lgpd.css.map */