/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$primary: #71E1E5; 
$light: #FAFAFA;

*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}

body, html {
    height: 100%;

    h6:hover {
        color: $primary;
    }
}

#card {
    height: 100%;
    background-size: cover;
}

#main_menu {

}

@import '../node_modules/bootstrap/scss/bootstrap.scss';