$primary: #E77F7B; 
$light: #FAFAFA;
$dark: #121212;
$gray: #858585;

*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

body, html {
    background-color: $dark;
}

#home-page {
    h6 {
    font-weight: 100;

        &:hover {
            color: $primary;
        }
    }
}

#card {
    background-image: url(/img/noise-bg.png);
    background-color: $dark;
    height: 100%;

    #illustration {
        width: 400px;
        height: 400px;
    }
    
    #title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        letter-spacing: 1.5px;
        color: $light;
        font-size: 2.5rem;
    }

    h1 {
        font-weight: 300;
        color: $light;
        letter-spacing: 1px; 
        font-size: 1.8rem;
    }

    h5 {
        color: $gray;
        font-weight: 100;
        font-size: 1.3rem;
        line-height: 20%;
    }

    #cta_menu {
        box-shadow: 0 1px 3px rgba(113, 225, 229, 0.15), 0 1px 2px rgba(113, 225, 229, 0.35);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      
        &:hover {
          box-shadow: 0 2px 4px rgba(113, 225, 229, 0.15), 0 2px 3px rgba(113, 225, 229, 0.35);
        }
    }
}

@media (min-width: 790px) {
    #home-page {
        visibility: hidden;
    }
}

@media (max-width: 790px) {
    #card {
        #illustration {
            width: 300px;
            height: 300px;
        }
        #title {
            font-size: 1.9rem;
            letter-spacing: 1.5px;
            font-weight: 900;
        }
        h1 {
            font-size: 1.5rem;
            line-height: 2rem;
            text-align: justify;
        }
        h5 {
            text-align: justify;
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
    }
 }

@import '../node_modules/bootstrap/scss/bootstrap.scss';