/* Fonts */
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
/* CSS Variables */
:root {
  --black: #000000;
  --silver: #373737;
  --lightSilver: #484848;
  --white: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

html,
a {
  cursor: none;
  cursor: url("/img/cursor.svg"), auto;
  text-decoration: none;
}

a {
  cursor: pointer;
  color: var(--white);
}

.navbar {
  width: 100%;
  color: var(--white);
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
  margin: 0;
}
.navbar #homepage,
.navbar #contact {
  font-family: "NeueMontreal";
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: var(--white);
}
.navbar #homepage:hover,
.navbar #contact:hover {
  color: transparent;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
  transition: 0.3s;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-track {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.25rem;
  padding: 0.25rem;
  will-change: transform;
}

.card {
  height: 850px;
  overflow: hidden;
}
.card .card-image-wrapper {
  height: 135%;
  will-change: transform;
}
.card .card-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Media Queries */
@media (width > 1440px) {
  .card {
    height: auto;
  }
}
@media (width > 1920px) {
  .card {
    height: auto;
  }
}
@media (width < 800px) {
  .gallery-track {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    height: auto;
  }
}
@media (width < 550px) {
  .gallery-track {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    height: auto;
  }
}
/* --------- Animation 01 ---------- */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=power_skills.css.map */