/* --------- Variables ---------- */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

body {
  background: #010101;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
a {
  cursor: none;
  cursor: url("/img/cursor.svg"), auto;
}

nav .title {
  position: absolute;
  margin-top: 50px;
  top: 10%;
  left: 0;
  right: 0;
  font-family: "Gotham Thin";
  overflow: hidden;
  text-align: center;
  font-size: 8.5rem;
  color: #686868;
}

#header {
  background: linear-gradient(180deg, #010101 10%, rgba(1, 1, 1, 0.6) 0.1%);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.container-fluid {
  margin: 0 auto;
  align-self: center;
}
.container-fluid #homepage,
.container-fluid #contact {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 8px;
  padding: 16px;
  color: #FFFFFF;
  letter-spacing: -2px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
.container-fluid #homepage:hover,
.container-fluid #contact:hover {
  color: #B2B2B2;
}

#location {
  display: none;
}

#title {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-weight: 100;
  letter-spacing: -0.12rem;
  text-transform: uppercase;
  margin-top: 100px;
}

/* --------- CARD 1 ---------- */
.card {
  overflow: hidden;
  margin-top: 600px;
  border: none;
  border-radius: 0;
}
.card .card-img-top {
  background: transparent;
}
.card .card-body {
  background-color: #010101;
}
.card .card-text {
  color: #B2B2B2;
  font-size: 14rem;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-weight: 100;
}
.card #card-info {
  color: #B2B2B2;
  position: relative;
  top: 52px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/* --------- Sections ---------- */
#intro,
#copyright {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 200;
  letter-spacing: -0.025px;
  line-height: 28px;
  color: #D9D4D1;
  border-top: 0.3px solid #B2B2B2;
  padding-top: 10px;
  color: #B2B2B2;
}

#copyright {
  margin-top: 114px;
}

#intro {
  border: none;
}

/* Running text */
.running-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.marquee {
  overflow: hidden;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  font-style: italic;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 10vw;
}
.marquee a {
  text-decoration: none;
  color: #fff;
}
.marquee a:hover {
  color: #6B1BF5;
}

.marquee__line {
  flex-shrink: 0;
  margin: 0;
  padding: 0px 15px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.marquee__inner {
  display: flex;
}

/* --------- Misc ---------- */
summary {
  cursor: pointer;
}

summary::marker, summary::-webkit-details-marker {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
supported by Chrome, Edge, Opera and Firefox */
}

/* --------- Animations ---------- */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media only screen and (max-width: 480px) {
  #homepage {
    position: relative;
    right: 6px;
  }
  #contact {
    position: relative;
    left: 28px;
  }
  #copyright_num {
    position: relative;
    right: 15px;
    font-size: 1rem;
  }
  #location {
    display: none;
  }
  nav .title {
    left: 0;
    right: 0;
    font-size: 5.2rem;
    letter-spacing: -1.5px;
  }
  .section {
    position: relative;
    bottom: 140px;
  }
  .section .col {
    position: relative;
    bottom: 28px;
    left: 8px;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 1rem;
  }
  .card {
    position: relative;
    bottom: 140px;
  }
  .card .card-img-top {
    background: transparent;
  }
  .card .card-text {
    position: relative;
    bottom: -124px;
    left: -16px;
    font-size: 10rem;
  }
  .card .card-text::after {
    font-size: 7rem;
    position: relative;
    right: 10px;
  }
  .card #card-info {
    font-size: 1.2rem;
  }
  .card .row {
    position: relative;
    top: -100px;
  }
  .card #card-info {
    line-height: 180%;
    width: 100%;
    position: relative;
  }
  .marquee {
    letter-spacing: -0.07em;
    font-size: 20vw;
  }
  #copyright {
    position: fixed;
    bottom: 0;
    border-bottom: none;
  }
  #copyright #clock,
  #copyright #top {
    margin-left: 120px;
    position: relative;
    bottom: 28px;
  }
  #top {
    text-decoration: none;
    position: relative;
    right: -72px;
  }
  #intro {
    font-size: 1rem;
  }
  #intro_num {
    position: relative;
    right: 15px;
  }
}
@media only screen and (max-width: 375px) {
  nav .title {
    font-size: 4.2rem;
  }
  #top {
    text-decoration: none;
    position: relative;
    right: -32px;
  }
}/*# sourceMappingURL=scientific.css.map */