@media only screen and (max-device-width: 900px) {
  /* .menu { width:100%; } */
}

* {
  text-decoration: none;
  font-family: 'Roboto', 'sans-serif';
  font-weight: normal;
}

body {
  text-align: center;
  background-color: #FCFCFC;
}

a { color: #0DA0EE; }

h1 { 
  color: #555555;
  text-shadow: 1px 1px 1px #FCFCFC;
}

p {
  color: #555555;
  text-shadow: 1px 1px 1px #FCFCFC;
}

li { color: #555555 }

#description {
  font-size: 22px;
  font-weight: 100;
}

div { margin-top: 25px; }

.container img {
  padding: 20px;
  max-width: 150px;
  max-height: 150px;
}

span {
  color: #0DA0EE;
}