@media only screen and (max-device-width: 900px) {
  /* .menu { width:100%; } */
}

* {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
}

body {
  text-align: center;
  background-color: #FFFFFF;
}

a { color: #0DA0EE; }

h1 { 
  color: #000000;
  text-shadow: 1px 1px 1px #FFFFFF;
}

p {
  text-shadow: 1px 1px 1px #FFFFFF;
}

div {
  margin-top: 15px;
}


.container img {
  padding: 20px;
  max-width: 150px;
  max-height: 150px;
}
