@media only screen and (max-device-width: 900px) {
  /* .menu { width:100%; } */
}

* {
  text-decoration: none;
}

body {
  text-align: center;
  background-color: whitesmoke;
}

a { color: #808000;}

h1 { color: #808080;}

div {
  margin-top: 15px;
}

